#root {
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  text-align: center;
}

.desktopNav {
  display: none;
}

.mobileNav {
  background-color: white;
  z-index: 99;
  cursor: pointer;
  border-radius: 8px 8px 0px 0px;
}

.mobileNav::before {
  content: '»';
  display: inline-block;
  transform: rotate(-90deg);
}

@media (min-width: 760px) {
  .mobileNav {
    display: none;
  }

  .desktopNav {
    display: block;
  }
}